body{
  height: 100vh;
  width: 100%;
  margin:0px;
}

nav{
  display: flex;
  justify-content:center;
  column-gap: 30px;
  overflow:hidden;
  background-color: white;
  width: 100%;
  z-index: 1;
  position: absolute;
  background: transparent;
  
  
}
h3{
font-size: 1.4em;
font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration: none;
  color:white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  transition: color 300ms;
}

a:hover{
  color:#AAC8A7;
}

input[type=button]{
width:30%;
height: 35px;
border-radius: 50px;
background-color: #9288F8;
color:white;
margin:10% 33%;
border: none;
transition: background-color 300ms;
}
input[type=button]:hover{
background-color:#8062D6 ;
}



.a{
border:none;
border-bottom: 2px solid #61677A;
width: 40%;
height: 25px;
border-radius: 0px;
}

.item:hover{
transform:translateY(-1px);
}

.clicked{
  color:grey;
}
.main-title{
  font-size: 6em;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 100;
  -webkit-background-clip: text;
  background-clip: text;
  

  color: #7EAA92;
  position: absolute;
  top:200px;
  left:150px;
}
.main-tile2{
font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 100;
  -webkit-background-clip: text;
  background-clip: text;
  
  color: white;
  position: absolute;
  top:350px;
  left:150px;
}

.back{
  height: 0px;
   width: 600px;
   border-bottom: 788px solid #222831 ;
   border-left: 300px solid transparent;
   position:absolute;
   opacity:0.9;
   top:0px;
   right:0px; 
}



.page1{
  height: 100vh;
  position: relative;
  width: 193vh;
  background-color: #0B666A;
  
  
  overflow: hidden;
}


.page2{
  height: 60vh;
  width: 193vh;
  overflow: hidden;
  background-color:#D5ECC2; 
  
}
.page3{
  height: 120vh;
  width: 193vh;
  
  overflow: hidden;
}
.page4{
height: 90vh;
width: 193vh;
  
overflow: hidden;
}

.page6{
height: 30vh;
width: 193vh;
background-color:#90be6d;  
overflow: hidden;
opacity: 1;
}
.page5{
height: 90vh;
width: 193vh;
/* background-color: #61876E;   */
background-image: radial-gradient( #D5ECC2,#61876E,#3a5a40);
overflow: hidden;
opacity: 0.8;
}
.footer{
width:193vh;
height: 165px;
background:#343a40;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.logo{
  width:120px;
  height: 70px;
  position:absolute;
  left:30px;
  top:10px
}
.item{
  margin:20px;
  display: inline-block;
}


.ieee{
  font-size: 3em;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 50;
}

.backg{
  width: 200vh;
  object-fit: cover;
  opacity: 0.8;
  position: absolute;
  top:-100px;
}

/* .item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #A084E8;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}

.item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.bac{
  position: absolute;
  top:280px;
  right:150px;
  z-index: 1;
  opacity: 0.6;
}

.create{
  position: absolute;
  transform: scale(0.6);
  top:-200px;
  right:-100px;
  z-index: 1;
  
  /* transform: rotate(15deg); */
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  color:#696969;
  

}

.samwad{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  color:#696969;
}
h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  color: #696969;
  
}

.flex{
  display: flex;
  gap: 20%;
  margin: 80px auto;
}
.disc{
  float:left;
}
.present{
  margin:
  80px;
}

hr{
 border: 5px dotted #696969;
 width: 100px;
border-radius: 5px;
margin-top: 50px;

}
.gallery1{
  margin: 50px 700px;
  font-weight: bold;
  font-size: 2em;
}
.gallery1::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #A084E8;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}

.gallery:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.hexagon-grid {
display: flex;
flex-wrap: wrap;
width: 1300px;
position: absolute;
margin:50px 180px;
gap: 30px;
}

.hexagon {
position: relative;
width: 350px;
height: 325.47px; 
background-color: #ccc; 
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
margin: 5px;
}


.hexagon:hover {
background-color: #aaa;
box-shadow: 10px 20px 5px 0px black;
}

.hexagon_1{
background-image: url(sw2.jpg);
background-size: contain;
background-position: 20px;
}

.hexagon_2{
background-image: url(sw21.jpeg);
background-size: contain;
background-position: 0px; 
}
.hexagon_3{
background-image: url(sw11.jpg);
background-size: contain;
background-position: 20px;
}

.hexagon_4{
background-image: url(sw13.jpg);
background-size: contain;
background-position: 0px; 
}
.hexagon_5{
background-image: url(sw17.jpeg);
background-size: contain;
background-position: 0px;
}

.hexagon_6{
background-image: url(sw15.jpeg);
background-size: contain;
background-position: 10px; 
}

.profile1-h1{
width:200px;
height: 200px;
border-radius: 50%;
background-image: url(speaker1.jpg);
background-color:grey;
background-size: cover;
border: 3px solid white;

}

.profile1{
display: flex;
justify-content: center;
margin:50px auto;
gap: 180px;
width:600px;

transition:box-shadow 300ms, transform 300ms;

}

.h:hover{
box-shadow: 0px 10px 20px 5px #aaa; 
transform: translateY(-2px);
}

.profile2{
display: flex;

margin:50px 50px;
gap: 50px;
width:600px;
transition:box-shadow 300ms, transform 300ms;

}
.profile2-h1{
width:200px;
height: 200px;
border-radius: 50%;
background-image: url(speaker2.jpg);
background-color:grey;
background-size: cover;
border: 3px solid white;

}
.profile3{
display: flex;

margin:0px auto;
gap: 50px;
width:600px;

transition:box-shadow 300ms, transform 300ms;

}
.profile3-h1{
width:200px;
height: 200px;
border-radius: 50%;
background-image: url(speaker3.jpg);
background-color:grey;
background-size: cover;
border: 3px solid white;

}
.profile4{
display: flex;

margin:0px 50px;
gap: 50px;
width:600px;
transition:box-shadow 300ms, transform 300ms;

}
.profile4-h1{
width:200px;
height: 200px;
border-radius: 50%;
background-image: url(speaker4.jpg);
background-color:grey;
background-size: cover;
border: 3px solid white;

}
.row{
display: flex;
}

.speaker{
margin:50px 600px;
}
.contact{
margin: 50px 40%;
color:black;
}

.block{
width:500px;
height: 400px;
margin:100px auto;

background-color: white;
box-shadow: 0px 10px 10px 1px black;
}
.contact-detail{
font-size: 1em;
color:grey;
}
.r{
display: flex;
gap: 50px;
margin-left:20px;
}
.-t{
gap: 200px;
margin-left:20px;
}

.-o{
gap: 115px;
margin-left:20px;
}


.pad{
padding:40px;
}

.back-for{
position:relative;
bottom:100px;

}